NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/pricepulse_x
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRE=30d

GEMINI_API_KEY=replace_with_your_gemini_api_key
RAPIDAPI_KEY=replace_with_your_rapidapi_key
RAPIDAPI_HOST=real-time-amazon-data.p.rapidapi.com
